celery
redis  # ya rabbitmq
django-celery-beat
gunicorn
psycopg2-binary
whitenoise
dj-database-url
Django
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers
cloudinary